input.top-search.form-control.top-search
    border-top-right-radius: 24px
    border-bottom-right-radius: 24px
    box-shadow: none

input.top-search.form-control.top-search:hover, input.top-search.form-control.top-search:focus
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

span#basic-addon1
    border-top-left-radius: 24px
    border-bottom-left-radius: 24px

nav.navbar.navbar-expand-lg.navbar-dark.nav-container
    background-color: black

.logo
    height: 30px

a.nav-link:hover
    text-decoration: underline
