@font-face
    font-family: 'Aramata-Reg'
    src: url('../fonts/Armata-Regular.ttf')

@font-face 
    font-family: 'PaytoneOne'
    src: url('../fonts/PaytoneOne-Regular.ttf')

@font-face 
    font-family: 'Spinnaker'
    src: url('../fonts/Spinnaker-Regular.ttf')


$armata-reg: Aramata-Reg
$paytone-one: PaytoneOne
$spinnaker: Spinnaker
