.image-parent
    position: relative

.image-text
    position: absolute
    color: white
    top: 20px
    left: 20px
    font-size: 30px

.image-row
    img:hover, img:focus
        border: 2px solid transparent